<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ME_FateConnectionString" connectionString="Data Source=localhost;Initial Catalog=ME_Fate;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="resetData" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>